@import '../../Styles/mixins';

.slogan {
    margin: 10px;

    .slogan-text {
        @include centered-text;

        h1 {
            font-size: 26px;
            margin-bottom: 20px;
        }
    }

    .slogan-pic {
        display: none;
    }
}

@media (min-width: 1100px){
    .slogan {
    
        .slogan-text {
            margin-top: 120px;
        }
    
        .slogan-pic {
            display: block;
            height: 80%;
    
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}