@import '../../Styles/mixins';

.slogan {
    margin: 20px;

    .slogan-text {
        @include centered-text;

        h1 {
            font-size: 23px;
            margin-bottom: 20px;
        }
    }
}

@media (min-width: 1100px) {

    .slogan-text {
        margin-top: 30px;
    }

}