@import '../../Styles/mixins';
@import '../../Styles/variables';

.slogan{
    background-color: $principal-color;
    color: $secondary-color;
    padding: 40px 20px;
    text-align: center;
}
.sloganBox{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
}
.sloganBoxIcons{
    display: block;
    margin: 0 auto 10px auto;
    font-size: 1.5em;
}
@media (min-width: 1100px){
    .slogan{
        padding: 60px 20px;
    }
    .sloganBox p{
        font-weight: bold;
    }
    .sloganBoxIcons{
        margin: 20px auto;
        font-size: 2.5em;
    }
    .sloganBoxIcons:hover{
        scale: 1.2;
        rotate: 360deg;
        transition: 0.5s;
    }
}