@import '../../Styles/mixins';
@import '../../Styles/variables';

.highlightsBox{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: $principal-color;
    padding-bottom: 30px;
}
.highlightCard{
    @include card-estructure
}
.cardPic{
    @include banner-pic;
    border-radius: 10px;
}
@media (min-width: 1100px){
    .highlightsBox{
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 50px;
    }
    .highlightCard:hover{
        cursor: pointer;
    }
}