@import '../../Styles/mixins';
@import '../../Styles/variables';

.about{
    color: $tertiary-color;
    text-align: justify;
    padding: 20px;
    display: grid;
    grid-template-columns: 70% 1fr;
    justify-items: flex-end;
}
#surfer{
    @include flip;
    font-size: 5em;
}
.hidden{
    display: none;
}
#aboutPic{
    display: none;
}
@media (min-width: 1100px){
    .about{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 20px;
    }
    .about p{
        margin: 0 50px;
    }
    #surfer{
        display: none;
    }
    .hidden{
        display: block;
        margin: 20px 0;
    }
    #aboutTitle{
        font-size: 1.7em;
        font-weight: bold;
        text-align: center;
    }
    #aboutPic{
        @include banner-pic;
        display: block;
    }
}