@import '../../Styles/mixins';
@import '../../Styles/variables';

#burguerIcon{
    position: absolute;
    z-index: 1;
    color: $secondary-color;
    font-size: 2.5em;
    top: 15px;
    right: 10px;
}
#crossIcon{
    align-self: flex-end;
    font-size: 2.5em;
}
#navbar{
    display: flex;
    flex-direction: column;
    list-style: none;
    position: absolute;
    z-index: 1;
    color: white;
    width: 85%;
    height: 100%;
    padding: 20px;
    background-color: $principal-color;
    top: 0;
    right: 0;
}
.left{
    margin-top: 40px;
}
.navbarLi{
    font-size: 1.1em;
    margin-bottom: 20px;
    display: flex;
    align-items: end;
    border-bottom: 1px solid;
    padding-bottom: 15px;
}
.navbarIcons{
    margin-right: 20px;
    font-size: 1.5em;
}

@media (min-width: 1100px){
    #navbar{
        flex-direction: row;
        justify-content: space-between;
        color: $secondary-color;
        width: 100%;
        height: 50px;
        top: 15px;
        background-color: transparent;
        cursor: pointer;
    }
    .navbarLi:hover{
        font-weight: 600;
    }
    .navbarLi{
        font-size: 1.2em;
        margin-bottom: 0;
        border-bottom: 0;
        padding-bottom: 0;
    }
    .left, .right{
        display: flex;
        list-style: none;
        gap: 30px;
        margin-top: 0;
    }
    .navbarIcons{
        display: none;
    }
}