@import "./Styles/variables";
@import "./Styles/mixins";

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// .wrapper {
//   background-color: $background-color;
//   color: $text-color;
//   padding: $block-padding;
  
//   &__btns {
//     @include vertical-list;
//       button {
//         width: $btn-width;
//         height: $btn-height;
//       }
//   }
// }